#all { 
	height: 800px; 		
	width: 1400px; 
	position: absolute; 
	
}
#mapContainer { 
	
	border: 1px solid #ccc; 
	height: 100%; 	
	width: 80%; 
	left: 20%;

	position: absolute; 
	overflow: hidden;
	background-color: #D1DECE;
}
#mapContainer #map { 
	height: 100%; 
	width: 100%; 

}
#mapContainer #mapControls { 
	position: absolute; 
	left: 15px; 
	top: 15px; 
	width: 29px; 
}
#mapContainer #mapControls #up { background: url(iconUp.png) no-repeat center top; display: block; height: 26px; width: 29px; }
#mapContainer #mapControls #down { background: url(iconDown.png) no-repeat center top; display: block; height: 27px; width: 29px; }

#infobox { 
	float:left; 
	width:20%;
	height: 100%;
	position: relative;
	border: 1px solid #ccc; 
	background-color: #6684D9;
	
	color:#EBEDFF;
	font-family:arial;

}

#infobox  #infoname {
	height: 20px;
	display: block;
	font-size:18px;
	margin-left: 5px;
	margin-right: 5px;

	
}

#infobox  #infodetail {
	height: 40px;
	display: block;
	/*background-color: #bbbbbb;*/
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom:10px;
	font-size:12px;
}



#infobox #logo {
	display: block;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
	margin-bottom: 10px;
}




.myButton {
	background-color:#0C085C;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#EBEDFF;
	font-family:arial;
	font-size:10px;
	padding:2px 4px;
	margin-left:1px;
	margin-right:1px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#6675D9;
}