
#all { 			
	height: 700px; 		
	width: 1200px; 
	position: absolute; 	
}

#mapContainer { 
	
	border: 0px solid #ccc; 
	height: 100%; 	
	width: 80%; 
	left: 20%;

	position: absolute; 
	overflow: hidden;
	background-color: #e0f1e1;
}
#mapContainer #map { 
	position: relative;
	height: 100%; 
	width: 100%; 

}

#mapContainer #gradient {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 18px;
}

#mapContainer #mapControls { 
	position: absolute; 
	left: 15px; 
	top: 15px; 
	width: 29px; 
}
#mapContainer #mapControls #up { background: url(img/iconUp.png) no-repeat center top; display: block; height: 26px; width: 29px; }
#mapContainer #mapControls #down { background: url(img/iconDown.png) no-repeat center top; display: block; height: 27px; width: 29px; }

#infobox { 
	float:left; 
	width:20%;
	height: 100%;
	position: relative;
	border: 0px solid #ccc; 
	background-color: #97a6df;	
	color:#EBEDFF;
	font-family:arial;
}

#infobox #logo {
	display: block;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto; 
	margin-bottom: 10px;
}

#infobox  #infoname {
	height: 20px;
	display: block;
	font-size:18px;
	margin-left: 5px;
	margin-right: 5px;
}

#infobox  #infodetail {
	height: 40px;
	display: block;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom:10px;
	font-size:12px;
}

#searchbox {
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	margin: 2%;
	width: 96%;
	transition: border linear .2s,box-shadow linear .2s;
	border-radius: 4px;
}

#infobox  #infolist {
	margin: 2%;
	width: 96%;
}

.myButton {
	background-color:#131840;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#EBEDFF;
	font-family:arial;
	font-size:14px;
	padding:1px 5px;
	margin-left:1px;
	margin-right:1px;
	margin-bottom:2px;
	text-decoration:none;
}

.myButton:hover {
	background-color:#6675D9;
}

